<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangwei.mapper.ActivityMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_activity (title, start_time, end_time, longitude, latitude, radius, target_classes,
                                create_user_id)
        VALUES (#{title}, #{startTime}, #{endTime}, #{longitude}, #{latitude}, #{radius}, #{targetClasses},
                #{createUserId})
    </insert>
    <select id="list" resultType="com.wangwei.vo.ActivityVO">
        select id, title, start_time, end_time, longitude, latitude, radius, target_classes, create_user_id,
        create_time, update_time, status
        from t_activity
        <where>
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="startTime != null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and end_time &lt;= #{endTime}
            </if>
            <if test="targetClasses != null and targetClasses != ''">
                and target_classes like concat('%', #{targetClasses}, '%')
            </if>
            and create_user_id = #{createUserId}
        </where>
        order by create_time desc
    </select>

    <update id="updateActivityBatch" parameterType="java.util.List">
        update t_activity
        <set>
            <trim prefix="title = case" suffix="end,">
                when 1 = 0 then title
                <foreach collection="list" item="item">
                    <if test="item.title != null and item.title != ''">
                        when id = #{item.id} then #{item.title}
                    </if>
                </foreach>
                else title
            </trim>

            <trim prefix="start_time = case" suffix="end,">
                when 1 = 0 then start_time
                <foreach collection="list" item="item">
                    <if test="item.startTime != null">
                        when id = #{item.id} then #{item.startTime}
                    </if>
                </foreach>
                else start_time
            </trim>

            <trim prefix="end_time = case" suffix="end,">
                when 1 = 0 then end_time
                <foreach collection="list" item="item">
                    <if test="item.endTime != null">
                        when id = #{item.id} then #{item.endTime}
                    </if>
                </foreach>
                else end_time
            </trim>

            <trim prefix="status = case" suffix="end,">
                when 1 = 0 then status
                <foreach collection="list" item="item">
                    <if test="item.status != null">
                        when id = #{item.id} then #{item.status}
                    </if>
                </foreach>
                else status
            </trim>
        </set>
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
    <update id="updateActivityById" parameterType="com.wangwei.entity.Activity">
        update t_activity
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>
