<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangwei.mapper.CheckInMapper">

    <insert id="insertCheckIns">
        INSERT INTO t_check_in (user_id, activity_id, check_time, lon, lat, status)
        VALUES
        <foreach collection="checkIns" item="checkIn" separator=",">
            (#{checkIn.userId}, #{checkIn.activityId}, #{checkIn.checkTime}, #{checkIn.lon}, #{checkIn.lat},
            #{checkIn.status})
        </foreach>
    </insert>
    <select id="getRecordByUserIdAndActivityId" resultType="com.wangwei.entity.CheckIn">
        SELECT id, user_id, activity_id, check_time, lon, lat, status FROM t_check_in
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="activityId != null">
                AND activity_id = #{activityId}
            </if>
        </where>
    </select>
    <update id="updateCheckInStatusForFinishedActivity">
        UPDATE t_check_in
        SET status = 2
        WHERE status = 0
          AND activity_id = #{activityId}
    </update>

    <select id="selectTodaySchedule" resultType="com.wangwei.vo.CheckInVO">
        SELECT c.id,
               c.activity_id,
               a.title AS activityTitle,
               a.start_time,
               a.end_time,
               c.check_time,
               c.status,
               a.longitude,
               a.latitude
        FROM t_check_in c
                 LEFT JOIN t_activity a ON c.activity_id = a.id
        WHERE c.user_id = #{userId}
          AND a.end_time &gt;= CURDATE()
          AND a.start_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
    </select>

    <select id="selectCheckInRecords" resultType="com.wangwei.vo.CheckInVO">
        SELECT
        c.id,
        c.activity_id,
        a.title AS activityTitle,
        a.start_time,
        a.end_time,
        c.check_time,
        c.status,
        a.longitude,
        a.latitude
        FROM t_check_in c
        LEFT JOIN t_activity a ON c.activity_id = a.id
        WHERE c.user_id = #{userId}

        <if test="status != null">
            AND c.status = #{status}
        </if>

        ORDER BY a.start_time DESC
    </select>


</mapper>
