<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangwei.mapper.StudentMapper">
    <insert id="add" parameterType="com.wangwei.entity.Student">
        insert into t_user
        (username,
         password,
         real_name,
         role,
         class_id,
         create_time,
         update_time,
         avatar)
        values (#{username}, #{password}, #{realName}, #{role}, #{classId}, #{createTime}, #{updateTime}, #{avatar});
    </insert>


    <select id="list" resultType="com.wangwei.vo.StudentVO">
        select
        tu.id,
        tu.username,
        tu.real_name,
        tu.role,
        tu.class_id,
        tu.create_time,
        tu.update_time,
        tu.avatar,
        tc.class_name,
        tc.id
        from t_user tu
        left join t_class tc on tu.class_id = tc.id
        <where>
            tu.class_id in
            <foreach collection="classIds" item="classId" open="(" close=")" separator=",">
                #{classId}
            </foreach>
            <if test="studentQueryDTO.realName != null and studentQueryDTO.realName != ''">
                and tu.real_name like concat('%', #{studentQueryDTO.realName}, '%')
            </if>
        </where>
        order by tu.update_time desc, tu.id desc
    </select>
    <select id="getStudentClassById" resultType="com.wangwei.vo.ClassVO">
        select tc.id        as classId,
               tc.class_name,
               tc.major,
               tc.create_time,
               tc.update_time,
               tu.id        as teacherId,
               tu.role,
               tu.real_name as teacherName
        from t_class tc
                 join t_class_teacher_relation tctr
                      on tc.id = tctr.class_id
                 join t_user tu
                      on tctr.teacher_id = tu.id
        where tc.id = #{classId}
    </select>
</mapper>
