<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangwei.mapper.UserMapper">


    <select id="login" resultType="com.wangwei.vo.LoginVO">
        select id, username, real_name, role
        from t_user
        where username = #{username}
          and password = #{password}
    </select>
    <select id="getStudentsByClassIds" resultType="com.wangwei.vo.UserVO">
        select id,
        username,
        real_name,
        role,
        class_id,
        avatar,
        create_time,
        update_time
        from t_user
        where class_id in
        <foreach collection="classIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and role = 0
    </select>
</mapper>
